# Import packages & set plot style

In [1]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import numpy as np
import seaborn as sns
import re

%matplotlib inline

In [2]:
plt.style.use('ggplot')

# House keeping

#### Load the dataset

In [21]:
collision = pd.read_csv('collision_2009_2018.csv', parse_dates=(['COLLISION_DATE']))
collision.head()

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_PED_KILLED,COUNT_PED_INJURED,COUNT_BICYCLIST_KILLED,COUNT_BICYCLIST_INJURED,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE
0,3918943,2009,20091202,1942,2009-03-23,1745,35046,1283,1,5,...,0,0,0,0,0,0,-,-,NaN,NaN
1,3984219,2009,20090115,1942,2009-01-03,540,33829,1701,6,5,...,0,0,0,0,0,0,-,-,NaN,NaN
2,3984274,2009,20090126,1942,2009-01-07,630,38614,152,3,5,...,1,0,0,0,0,0,-,-,NaN,NaN
3,3984281,2009,20090126,1942,2009-01-08,50,32896,1985,4,5,...,0,0,0,0,0,0,-,-,NaN,NaN
4,3984352,2009,20100914,1942,2009-01-11,1450,24517,2014,7,5,...,0,0,0,0,1,0,-,-,NaN,NaN

#### Make all headers lower case and exam column headers

In [22]:
collision.columns = map(str.lower, collision.columns)
collision.columns

Index(['case_id', 'accident_year', 'proc_date', 'juris', 'collision_date',
       'collision_time', 'officer_id', 'reporting_district', 'day_of_week',
       'chp_shift', 'population', 'cnty_city_loc', 'special_cond', 'beat_type',
       'chp_beat_type', 'city_division_lapd', 'chp_beat_class', 'beat_number',
       'primary_rd', 'secondary_rd', 'distance', 'direction', 'intersection',
       'weather_1', 'weather_2', 'state_hwy_ind', 'caltrans_county',
       'caltrans_district', 'state_route', 'route_suffix', 'postmile_prefix',
       'postmile', 'location_type', 'ramp_intersection', 'side_of_hwy',
       'tow_away', 'collision_severity', 'number_killed', 'number_injured',
       'party_count', 'primary_coll_factor', 'pcf_code_of_viol',
       'pcf_viol_category', 'pcf_violation', 'pcf_viol_subsection',
       'hit_and_run', 'type_of_collision', 'mviw', 'ped_action',
       'road_surface', 'road_cond_1', 'road_cond_2', 'lighting',
       'control_device', 'chp_road_type', 'pedestrian_accident',
       'bicycle_accident', 'motorcycle_accident', 'truck_accident',
       'not_private_property', 'alcohol_involved', 'stwd_vehtype_at_fault',
       'chp_vehtype_at_fault', 'count_severe_inj', 'count_visible_inj',
       'count_complaint_pain', 'count_ped_killed', 'count_ped_injured',
       'count_bicyclist_killed', 'count_bicyclist_injured', 'count_mc_killed',
       'count_mc_injured', 'primary_ramp', 'secondary_ramp', 'latitude',
       'longitude'],
      dtype='object')

#### Drop unnecessary columns and set index column

In [23]:
to_drop = ['officer_id', 'reporting_district', 'chp_shift', 'cnty_city_loc', 'beat_type', 'chp_beat_type', 'city_division_lapd',
         'chp_beat_class', 'beat_number', 'caltrans_county', 'caltrans_district']

collision.drop(to_drop, axis=1, inplace=True)
collision.set_index('accident_year', inplace=True)
collision.head()

,case_id,proc_date,juris,collision_date,collision_time,day_of_week,population,special_cond,primary_rd,secondary_rd,...,count_ped_killed,count_ped_injured,count_bicyclist_killed,count_bicyclist_injured,count_mc_killed,count_mc_injured,primary_ramp,secondary_ramp,latitude,longitude
accident_year,,,,,,,,,,,,,,,,,,,,,
2009,3918943,20091202,1942,2009-03-23,1745,1,7,0,WESTERN AV,CENTURY BL,...,0,0,0,0,0,0,-,-,NaN,NaN
2009,3984219,20090115,1942,2009-01-03,540,6,7,0,TAMPA AV,PINE VALLEY AV,...,0,0,0,0,0,0,-,-,NaN,NaN
2009,3984274,20090126,1942,2009-01-07,630,3,7,0,5TH ST,FLOWER ST,...,1,0,0,0,0,0,-,-,NaN,NaN
2009,3984281,20090126,1942,2009-01-08,50,4,7,0,VAN NUYS BL,VESPER AV,...,0,0,0,0,0,0,-,-,NaN,NaN
2009,3984352,20100914,1942,2009-01-11,1450,7,7,0,HARVARD BL,3RD ST,...,0,0,0,0,1,0,-,-,NaN,NaN

#### Data cleaning

# Exploratory Analysis